{% extends "layout.html" %}

{% block body %}
  <h3>Hakkımızda</h3>
  <hr>
  After graduating with a bachelor's degree in computer engineering 15 years ago I started to work as a
software developer at the insurance and pension subsidiary company of Turkey's state-owned bank. In this
process respectively, I worked as a software developer, an analyst software developer, an assistant manager.
Finally, I worked as a software development and operations manager. In the last 5 years of my 15 years of work
experience, I worked as a manager.
During these 15 years, I led many projects in the company where I worked. Some of these projects have led
to the biggest structural change in the company. During 15 years, I took part in projects that made my company
stand out in the technological sense in the insurance sector and became a company that was mentioned and
followed by its competitors. Some of those, In the two business branches in Turkey (life and private pensions)
simultaneously system transition project (project leadership and software developer and team leader of all data
migration software development work) - Turkey in the insurance sector the management of the first mobile
Application Development project - Project manager of data warehouse project that includes a data warehouse
model where insurance industry reporting and analysis can be done - Project manager of customer churn and
retention project using machine learning algorithms in the insurance sector - Software development leadership
in CRM project to ensure 360-degree tracking of customers - All software development of the State Contribution
projects in Turkey that cause very large structural changes in the private pension system - Software development
of the performance and reward system of all sales personnel of the company - Software development leader in
after-sales customer loyalty project - Making it the first company in the insurance sector to engage in customer
segmentation.
I have been involved in many special projects because I have analytical thinking, result and successoriented,
effective problem-solving ability, effective leadership direction and initiative-taking structure. With all of
these my features, I won “The Big Thinkers” award given to successful managers in 2016 by the company I
work for because of my positive approach, productivity and success in my projects.
I've done the best I can do in my career and I have reached the best spot in Turkey. I want to improve myself
in my profession and go further than I am now. For this reason, I moved to London where I think that the IT
sector is progressing fast and the IT sector is a future.
In the future, I continue to work on artificial intelligence by increasing my achievements even further.
  <hr>
{% endblock body %}