{% extends "layout.html" %}

{% block body %}
  <h3>Ana Sayfa</h3>
  <div class="jumbotron text-center">
    <h3>Welcome Software Engineering Blog</h3>
    <p>With new technologies flooding every day, it is hard to keep up with all the updates. Blogs are a valuable resource for keeping up with recent innovations, communicating with fellow developers and getting a feel of what software development is all about. Living in an era of content overload, it is hard to find the best developer blogs out there. Some blogs post updates every day and every hour, while others only reflect on major innovations. There is definitely a lot to choose from and each and every one of them is somehow different from the other. However, it is important that you can tell the bad from the good and follow only quality blogs that provide trustworthy information.</p>
  </div>

<!--   {% if  process == 1 %}
    <p>1.Process</p>
  {% elif process == 2  %}
    <p>2.Process</p>
  {% else  %}
    <p>Invalid process</p>
  {% endif %}

  <ul>
    {% for i in numbers %}
    <li>
      {{i}}.number
    </li>  
    {% endfor %}    
  </ul>

  <ul>
    {% for i in records %}
    <li>
      Id = {{i.id}} - Title = {{i.title}} - Content = {{i.content}}
    </li>  
    {% endfor %}    
  </ul> -->
  
  {% endblock body %}